.player-controls__audio {
  display: none;
}

.player-controls__play-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0;
}

.player-controls__playback-bar {
  display: flex;
  gap: 4px;
  align-items: center;
}

.player-controls__playback-time {
  color: #6a6a6a;
  font-size: 0.6875rem;
  width: 3.125rem;
}
