.music-list {
  width: 100%;
  border-collapse: collapse;
  margin: 0 2rem;
}

th {
  font-weight: lighter;
}

th,
td {
  padding: 0.75rem 0.9375rem;
  text-align: left;
}

tr:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
